*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.zapateria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.zapatos{
margin: 10px;
padding: 10px;
border: solid black 3px;
border-radius: 20px;
text-align: center;
height: 430px;
font-family: Arial, Helvetica, sans-serifx ;
background-color: rgb(168, 168, 168);
}
img{
    width: 300px;
    height: 300px;
    transition: 0.5s ease-in-out;
    border: solid black;
}
img:hover{
    transform: scale(1.065) ;
}
.zapatos button{
 border: solid silver;
 border-radius: 15px;
background-color: rgb(255, 0, 0);
font-size: 20px;
margin: 10px;
padding: 5px;
transition: 0.5s ease-in-out;
}
.zapatos button:hover{
background-color: rgb(255, 60, 0);
color: rgb(83, 83, 83);
border: solid rgb(63, 63, 63);
transform: scale(1.01) translateY(-5px);
}
