*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.zapateria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.zapatos{
margin: 10px;
padding: 10px;
border: solid black 3px;
border-radius: 20px;
}

header{
    display: flex;
    text-align: center;
    padding: 10px;
    background-color: black;
    height: 220px;  
}


nav a{
    text-decoration: none;
    color: white;
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
    margin-top: 10%;
    font-size: 50px;
}

nav a:hover{
    background-color: white;
    color: red;
    transition: 0.3s;
    border-radius: 10%;
}

img{
    width: 300px;
    height: 300px;
    margin-left: 40px;
    transition: 0.5s ease-in-out;
}
img:hover{
    transform: scale(0.5) ;
}
.zapatos button{
 border: solid silver;
 border-radius: 15px;
background-color: rgb(255, 0, 0);
font-size: 20px;
margin: 10px;
padding: 5px;
transition: 0.5s ease-in-out;
}
.zapatos button:hover{
background-color: rgb(255, 60, 0);
color: rgb(83, 83, 83);
border: solid rgb(63, 63, 63);
transform: scale(1.01) translateY(-5px);
}