*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Protest Riot', sans-serif;
}

header{
    display: flex;
    text-align: center;
    padding: 10px;
    background-color: black;
    height: 220px;  
}

nav a{
    text-decoration: none;
    color: white;
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
    margin-top: 10%;
    font-size: 50px;
}

nav a:hover{
    background-color: white;
    color: red;
    transition: 0.3s;
    border-radius: 10%;
}



section.intro{
    height: 800px;
    width: 100%;
}

nav{
    display: flex;
    justify-content: center;
}

section.intro{
    background-image: url(../Img/fondo.jpg);
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
}

section.intro img{
    width: 1000px;
    height: 800px;
}

.caja img{
    height: 300px;
    width: 300px;
}

.caja_inversa img{
    height: 300px;
    width: 300px;
} 